* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;    
}

body {
    background-image: url(../img/imagem-banner.jpg);
    background-position: center;
    background-size: cover;
    max-width: 100%;
    min-height: 100vh; 
    margin: 0;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

#header {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-header h1{
    font-family: "Poppins", sans-serif;
}

.container-header a {
    text-decoration: none;
    color: #2ca77a;
}

.login-header .input {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgba(9, 204, 100, 0.7);
    cursor: pointer;
    font-size: 17px;
    color: #fff;
    transition: 0.5s;
}

.login-header .input:hover {
    background-color: rgb(9, 204, 100);
    text-decoration: none;
}

.login-header a {
    text-decoration: none;
    color: rgb(9, 204, 100);
    cursor: pointer;
    padding-left: 25px;
}

.login-header a:hover {
    text-decoration: underline;
}

#password-reset {
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.password-reset-area {
    width: 500px;
    min-height: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.password-reset-area h3 {
    text-align: center;
    padding: 25px;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
}

.password-reset-area p {
    width: 70%;
    margin: auto;
    text-align: center;
    font-weight: bold;
    padding-bottom: 25px;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
    opacity: 0.7;
}

.password-reset-area .email {
    text-align: center;
}

.password-reset-area .email input {
    width: 60%;
    height: 30px;
    padding: 10px 20px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 25px;
}

.password-reset-area .button-enviar-link {
    text-align: center;
    margin-bottom: 25px;
}

.password-reset-area .button-enviar-link input {
    width: 250px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(9, 204, 100, 0.6);
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.password-reset-area .button-enviar-link input:hover {
    background-color: rgb(9, 204, 100);
}

footer {
    position: absolute; 
    bottom: 5px; 
    width: 100%; 
    text-align: center;
    font-size: 20px;
    color:#fff;
    text-shadow: 5px 5px 5px #000;
}
